<launch>
    <!-- Map server -->
    <arg name="map_file" default="$(find momobot)/maps/SUTD_LEVEL_1_OPEN_HOUSE.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <!-- AMCL used for localization -->
    <include file="$(find momobot)/launch/include/amcl.launch" />
    
    <!-- Calls navigation stack packages for compatible Linorobot base -->
    <!-- Takes reference from env variable LINOBASE. ie. export LINOBASE=2wd -->
    <include file="$(find momobot)/launch/include/move_base/move_base_$(env LINOBASE).launch" />
</launch>
