<launch>
  <arg name="host" default="169.254.202.62" />
  <node pkg="lms1xx" name="lms1xx" type="LMS1xx_node" output="screen">
   <param name="host" value="$(arg host)" />
   <param name="frame_id" value="base_laser_link" />

  </node>
  <node pkg="tf" type="static_transform_publisher" name="base_laser_link_broadcaster" args = "0.2 0 0 0 0 3.1415926 base_link base_laser_link 100" />
</launch>
